{% load static%}
<!-- Main Slider -->
<div class="master-slider" id="masterslider">

    {% if object_list %}
    {% for cat in object_list %}
    <div class="ms-slide">
        <section class="g-bg-cover g-bg-pos-center g-bg-img-hero g-bg-black-opacity-0_3--after g-flex-centered g-py-5"
            style="background-image: url({{cat.image.url}});">
            <div>
                <div class="row">

                    <div style="  background-color: rgba(255, 255, 255, 0.3);
                    border-radius: 5px;
                    font-family: sans-serif;
                    text-align: center;
                    line-height: 1; 
                   -webkit-backdrop-filter: blur(10px);
                    backdrop-filter: blur(10px);  
                    max-width: 50%;
                    max-height: 50%;
                    padding: 20px 40px;" class="col-md-5 align-self-center   g-mb-30 g-mb-0--md">
                        <!-- Promo Block Content -->
                        <h2 style="font-family: fantasy; font-style: italic; margin-top: 20px; "
                            class="g-color-white g-font-size-30 g-font-size-25--md text-uppercase g-line-height-1 g-mb-5">
                            Only
                            From
                            {% for key, value in product_price_dict.items %}

                            {% if key == cat.id %}
                            <span style="color: maroon;">$ {{ value|join:", " }}</span>
                        </h2>
                        <p></p>
                        {% endif %}

                        {% endfor %}

                        {% for key, value in product_name_dict.items %}

                        {% if key == cat.id %}


                        <h3 style="font-family:inherit; color:brown; font-style: italic; margin-top: 20px; margin-left: 100px;"
                            class="g-color-peru g-font-size-30 g-font-size-25--md text-uppercase g-line-height-1 g-mb-5"
                            style="color:peru">
                            {{ value|join:", " }}
                        </h3>
                        <p></p>
                        {% endif %}

                        {% endfor %}

                        {% for key, value in product_description_dict.items %}

                        {% if key == cat.id %}

                        <p style="font-family:inherit; color:brown; font-style: italic; margin-top: 20px; margin-left: 100px;"
                            class="g-color-white-opacity-0_8 g-font-size-28 g-mb-15">
                            {{ value|join:", " }}
                        </p>
                        {% endif %}

                        {% endfor %}
                        <div style="margin-top: 20px; margin-left: 100px;">
                            <a style="color: maroon;"
                                class="btn btn-md text-uppercase u-btn-brown g-font-weight-700 g-font-size-12 rounded-0 g-py-10 g-px-25"
                                href="#">Take a tour</a>
                        </div>
                        <!-- End Promo Block Content -->
                    </div>

                    <div class="col-md-7 g-overflow-hidden" style=" margin-top: 65px;">
                        <div class="g-brd-around g-brd-7">
                            <div class="g-brd-around g-brd-7">
                                <!-- Promo Block - Video -->
                                <div class="embed-responsive" style="height: 380px;  width: 660px">
                                    {% for key, value in product_image_dict.items %}

                                    {% if key == cat.id %}
                                    <img style="height: 380px; width: 620px;" src="{{cat.image.url}}"
                                        alt="{{cat.image.url}}" data-src="{{cat.image.url}}">

                                    {% endif %}

                                    {% endfor %}
                                </div>
                                <!-- End Promo Block - Video -->
                            </div>
                        </div>


                    </div>

                </div>

        </section>

        <div style="margin-top: -40px; background-color: brown; padding-bottom: -40px;" class="ms-thumb">
            <h3 style="background-color: brown; margin-top: 5px; font-size: 2em;">
                {{cat.short_name}}
            </h3>
        </div>
        <div class="row">
            <div class="col-4">
                <h2 style="font-family: fantasy; font-style: italic; margin-top: 20px; margin-left: 100px;"
                    class="g-color-brown g-font-size-20 g-font-size-15--md  g-line-height-1 g-mb-5">
                    Embrace your African Soul.
                </h2>
            </div>
            <div class="col-4">
                <h2 style="font-family: fantasy; font-style: italic; margin-top: 20px; margin-left: 100px;"
                    class="g-color-brown g-font-size-20 g-font-size-15--md  g-line-height-1 g-mb-5">
                    Encourage your personality.
                </h2>
            </div>
            <div class="col-4">
                <h2 style="font-family: fantasy; font-style: italic; margin-top: 20px; margin-left: 100px;"
                    class="g-color-brown g-font-size-20 g-font-size-15--md  g-line-height-1 g-mb-5">
                    Empower your desires.
                </h2>
            </div>
        </div>
    </div>
    {% endfor %}
    {% endif %}

</div>
<!-- End Main Slider -->