<!-- Footer -->
<footer>
    <div class="container-fluid text-center g-color-gray-dark-v5 g-py-40">
        <a class="d-block g-width-140 mx-auto g-mb-20" href="/">
            <img class="img-fluid" src="assets/img/logo.png" alt="Image description">
        </a>

        <p class="mb-0">
            &copy; 2019 All right reserved.
            <a class="g-color-primary" href="#">Unify</a>.
            Development by
            <a class="g-color-primary" href="/">Htmlstream</a>
        </p>
    </div>
</footer>
<!-- End Footer -->