{% load static%}
<!-- Section Content -->
<section id=" about">
    <div style="margin-bottom:-250px;" class="px-0">
        {% for about_us in about_us %}

        <div class="row no-gutters">
            <div style="margin-bottom:240px; background-color: white;" class=" col-lg-5 g-flex-centered  g-pa-10">
                <div class=" text-center">
                    <div style="margin-top: -140px;"
                        class="text-uppercase text-center u-heading-v5-3 u-heading-v5-color-primary u-heading-v5-rounded-50x g-mb-20">
                        <h4 class="g-font-weight-700 g-font-size-12 g-color-brown-opacity-0_7 g-mb-15">About Malin
                            Collection</h4>
                        <h2
                            class="u-heading-v5__title g-line-height-1_2 g-font-weight-90 g-font-size-12 g-font-size-20--md g-color-brown g-bg-white--before g-pb-40">
                            {{about_us.tag_text}}</h2>
                    </div>
                    <div class="row">

                        <div class="col-md-6 col-lg-4 g-mb-40 g-mb-0--lg">
                            <span class="u-icon-v1 u-icon-size--3xl g-color-brown g-mb-15">
                                <img style="height: 100px; width: 100px;"
                                    src="{% static 'unify/assets/img/malin collection/perfume-bottle-pink-flowers-perfume-bottle-removebg-preview.png' %}">
                            </span>
                            <h3 class="h6 text-uppercase g-font-weight-600 g-mb-25">
                                <a class="g-color-black g-color-brown--hover g-text-underline--none--hover"
                                    href="#">Body & Home Fragrances
                                </a>
                            </h3>


                        </div>

                        <div class="col-md-6 col-lg-4 g-mb-40 g-mb-0--lg">
                            <span class="u-icon-v1 u-icon-size--3xl g-color-brown g-mb-15">
                                <img style="height: 100px; width: 150px;"
                                    src="{% static 'unify/assets/img/malin collection/senator wear.png' %}">
                            </span>
                            <h3 class="h6 text-uppercase g-font-weight-600 g-mb-25">
                                <a class="g-color-black g-color-brown--hover g-text-underline--none--hover"
                                    href="#">Senator Wear
                                    collection</a>
                            </h3>

                        </div>
                        <div class="col-md-6 col-lg-4 g-mb-40 g-mb-0--lg">
                            <span class="u-icon-v1 u-icon-size--3xl g-color-brown g-mb-15">
                                <img style="height: 100px; width: 100px;"
                                    src="{% static 'unify/assets/img/malin collection/acces.png' %}">
                            </span>
                            <h3 class="h6 text-uppercase g-font-weight-600 g-mb-25">
                                <a class="g-color-black g-color-brown--hover g-text-underline--none--hover"
                                    href="#">Ankara Accessories</a>
                            </h3>

                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-7">
                <!-- Carousel v20 -->
                <div class="js-carousel" data-infinite="true"
                    data-arrows-classes="u-arrow-v1 g-pos-abs g-left-0 g-absolute-centered--y g-width-60 g-height-60 g-color-primary g-bg-white g-opacity-1 g-opacity-0_8--hover g-transition-0_2 g-transition--ease-in"
                    data-arrow-left-classes="fa fa-chevron-left g-ml-15"
                    data-arrow-right-classes="fa fa-chevron-right g-ml-75">
                    {% if about_us.image1 %}
                    <div class="js-slide g-bg-cover g-bg-black-opacity-0_3--after">
                        <img style="height: 510px;" class="w-100 " src="{{ about_us.image1.url }}"
                            alt="Image description">
                    </div>
                    {% endif %}
                    {% if about_us.image2 %}
                    <div class="js-slide g-bg-cover g-bg-black-opacity-0_3--after">
                        <img class="w-100" src="{{ about_us.image2.url }}" alt="Image description">
                    </div>
                    {% endif %}
                    {% if about_us.image3 %}
                    <div class="js-slide g-bg-cover g-bg-black-opacity-0_3--after">
                        <img class="w-100" src="{{ about_us.image3.url }}" alt="Image description">
                    </div>
                    {% endif %}
                    {% if about_us.image4 %}
                    <div class="js-slide g-bg-cover g-bg-black-opacity-0_3--after">
                        <img class="w-100" src="{{ about_us.image4.url }}" alt="Image description">
                    </div>
                    {% endif %}


                </div>
                <!-- End Carousel v20 -->
            </div>
        </div>
        {% endfor %}
    </div>
</section>
<!-- End Section Content -->