<div style="  margin-top: -70px;  display: flex;
justify-content: space-between;" class="wrapper">
    <div style=" width: 80%;
    height: 150vh;">
        <div id="ourModelTabs" class="tab-content g-pt-20 g-pt-0--md">
            <div class="tab-pane fade show active" id="size1" role="tabpanel">

                <div class="container">
                    <div class="row">
                        {% for ankara_senator_wear in ankara_senator_wear %}
                        <div class="col-md-6 col-lg-4 g-mb-30 g-mb-0--lg">
                            <!-- Article -->
                            <article
                                class="text-center u-block-hover u-block-hover__additional--jump g-brd-around g-theme-bg-gray-light-v10 g-theme-brd-gray-light-v9">


                                <!-- Article Image -->
                                <img style="height: 280px;" class="w-100"
                                    src="{{ ankara_senator_wear.size1_model_image.url }}" alt="Image description">
                                <!-- End Article Image -->

                                <!-- Article Content -->
                                <div class="g-pa-40">
                                    <div class="g-font-size-default g-theme-color-gray-light-v8 g-mb-15">
                                        <strong class="d-block g-color-primary g-font-size-24 g-mt-10">$350.00</strong>
                                    </div>


                                    <a class="btn text-uppercase u-btn-primary g-font-weight-700 g-font-size-12 g-text-transform-none g-brd-none g-rounded-20 g-py-15"
                                        href="{% url 'mush_store:product_detail' product.id %}">Order Now</a>
                                </div>
                                <!-- End Article Content -->
                            </article>
                            <!-- End Article -->
                        </div>
                        {% endfor %}

                    </div>
                </div>
            </div>
            <div class="tab-pane fade show active" id="size2" role="tabpanel">

                <div class="container">
                    <div class="row">
                        {% for ankara_senator_wear in ankara_senator_wear %}
                        <div class="col-md-6 col-lg-4 g-mb-30 g-mb-0--lg">
                            <!-- Article -->
                            <article
                                class="text-center u-block-hover u-block-hover__additional--jump g-brd-around g-theme-bg-gray-light-v10 g-theme-brd-gray-light-v9">


                                <!-- Article Image -->
                                <img style="height: 280px;" class="w-100"
                                    src="{{ ankara_senator_wear.size2_model_image.url }}" alt="Image description">
                                <!-- End Article Image -->

                                <!-- Article Content -->
                                <div class="g-pa-40">
                                    <div class="g-font-size-default g-theme-color-gray-light-v8 g-mb-15">
                                        <strong class="d-block g-color-primary g-font-size-24 g-mt-10">$350.00</strong>
                                    </div>


                                    <a class="btn text-uppercase u-btn-primary g-font-weight-700 g-font-size-12 g-text-transform-none g-brd-none g-rounded-20 g-py-15"
                                        href="{% url 'mush_store:cart_add' product.id %}">Order Now</a>
                                </div>
                                <!-- End Article Content -->
                            </article>
                            <!-- End Article -->
                        </div>
                        {% endfor %}

                    </div>
                </div>
            </div>
            <div class="tab-pane fade show active" id="size3" role="tabpanel">

                <div class="container">
                    <div class="row">
                        {% for ankara_senator_wear in ankara_senator_wear %}
                        <div class="col-md-6 col-lg-4 g-mb-30 g-mb-0--lg">
                            <!-- Article -->
                            <article
                                class="text-center u-block-hover u-block-hover__additional--jump g-brd-around g-theme-bg-gray-light-v10 g-theme-brd-gray-light-v9">


                                <!-- Article Image -->
                                <img style="height: 280px;" class="w-100"
                                    src="{{ ankara_senator_wear.size3_model_image.url }}" alt="Image description">
                                <!-- End Article Image -->

                                <!-- Article Content -->
                                <div class="g-pa-40">
                                    <div class="g-font-size-default g-theme-color-gray-light-v8 g-mb-15">
                                        <strong class="d-block g-color-primary g-font-size-24 g-mt-10">$350.00</strong>
                                    </div>


                                    <a class="btn text-uppercase u-btn-primary g-font-weight-700 g-font-size-12 g-text-transform-none g-brd-none g-rounded-20 g-py-15"
                                        href="#">Order Now</a>
                                </div>
                                <!-- End Article Content -->
                            </article>
                            <!-- End Article -->
                        </div>
                        {% endfor %}



                    </div>
                </div>
            </div>
            <div class="tab-pane fade show active" id="size4" role="tabpanel">

                <div class="container">
                    <div class="row">
                        {% for ankara_senator_wear in ankara_senator_wear %}
                        <div class="col-md-6 col-lg-4 g-mb-30 g-mb-0--lg">
                            <!-- Article -->
                            <article
                                class="text-center u-block-hover u-block-hover__additional--jump g-brd-around g-theme-bg-gray-light-v10 g-theme-brd-gray-light-v9">


                                <!-- Article Image -->
                                <img style="height: 280px;" class="w-100"
                                    src="{{ ankara_senator_wear.size4_model_image.url }}" alt="Image description">
                                <!-- End Article Image -->

                                <!-- Article Content -->
                                <div class="g-pa-40">
                                    <div class="g-font-size-default g-theme-color-gray-light-v8 g-mb-15">
                                        <strong class="d-block g-color-primary g-font-size-24 g-mt-10">$350.00</strong>
                                    </div>


                                    <a class="btn text-uppercase u-btn-primary g-font-weight-700 g-font-size-12 g-text-transform-none g-brd-none g-rounded-20 g-py-15"
                                        href="#">Order Now</a>
                                </div>
                                <!-- End Article Content -->
                            </article>
                            <!-- End Article -->
                        </div>
                        {% endfor %}


                    </div>
                </div>
            </div>
        </div>
    </div>
    <div style="width: 20%;
    height: 25vh;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    padding: 15px;
    background-color: #fff;
    margin-top: 40px;
    ">
        <p style="margin-top: 90px;">
            Change Models
        </p>
        <div class="container">
            <ul class="nav text-uppercase u-nav-v2-1 u-nav-primary g-mt-minus-1" role="tablist"
                data-target="ourModelTabs" data-tabs-mobile-type="slide-up-down"
                data-btn-classes="btn btn-md btn-block text-uppercase g-font-weight-700 u-btn-outline-primary">
                <li class="nav-item">
                    <a class="nav-link g-py-15--md g-py-15--lg g-px-10--md g-px-15--lg active" href="#size1" role="tab"
                        data-toggle="tab">
                        <p>
                            Model Name
                        </p>
                        <p>
                            Models is 5.6" and size 1
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link g-py-15--md g-py-15--lg g-px-10--md g-px-15--lg" href="#size2" role="tab"
                        data-toggle="tab">
                        <p>
                            Model size2
                        </p>
                        <p>
                            Models is 5.6" and size 2
                        </p>

                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link g-py-15--md g-py-15--lg g-px-10--md g-px-15--lg" href="#size3" role="tab"
                        data-toggle="tab">
                        <p>
                            Model Name
                        </p>
                        <p>
                            Models is 5.6" and size 3
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link g-py-15--md g-py-15--lg g-px-10--md g-px-15--lg" href="#size4" role="tab"
                        data-toggle="tab">
                        <p>
                            Model Name
                        </p>
                        <p>
                            Models is 5.6" and size 4
                        </p>
                    </a>
                </li>
                <!-- <li class="nav-item">
                    <a class="nav-link g-py-15--md g-py-15--lg g-px-10--md g-px-15--lg" href="#body_fragrances"
                        role="tab" data-toggle="tab">body fragrances</a>
                </li> -->
            </ul>
        </div>


    </div>
</div>