<!-- Section Content -->
<section id="ourFood" class="g-pt-100">
    <div class="container text-uppercase g-mb-30">
        <h4 class="g-font-weight-700 g-font-size-12 g-color-primary g-mb-15">Our World of African beauty</h4>
        <h2 class="g-line-height-1_2 g-font-weight-700 g-font-size-32 g-font-size-40--md g-bg-primary--before">Explore
            the dream</h2>
    </div>

    <div class="g-brd-top--md g-theme-brd-gray-light-v1">
        <div class="container">
            <ul class="nav text-uppercase u-nav-v2-1 u-nav-primary g-mt-minus-1" role="tablist"
                data-target="ourFoodTabs" data-tabs-mobile-type="slide-up-down"
                data-btn-classes="btn btn-md btn-block text-uppercase g-font-weight-700 u-btn-outline-primary">
                <li class="nav-item">
                    <a class="nav-link g-py-15--md g-py-15--lg g-px-10--md g-px-15--lg active" href="#ankara_accesories"
                        role="tab" data-toggle="tab">ankara accesories</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link g-py-15--md g-py-15--lg g-px-10--md g-px-15--lg" href="#ankara_senator_wear"
                        role="tab" data-toggle="tab">ankara senator wear</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link g-py-15--md g-py-15--lg g-px-10--md g-px-15--lg" href="#hair_skin_care"
                        role="tab" data-toggle="tab">hair & skin care</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link g-py-15--md g-py-15--lg g-px-10--md g-px-15--lg" href="#home_fragrances"
                        role="tab" data-toggle="tab">home fragrances</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link g-py-15--md g-py-15--lg g-px-10--md g-px-15--lg" href="#body_fragrances"
                        role="tab" data-toggle="tab">body fragrances</a>
                </li>
            </ul>
        </div>
    </div>

    <div class="container-fluid px-0">
        <div id="ourFoodTabs" class="tab-content g-pt-20 g-pt-0--md">
            <div class="tab-pane fade show active" id="ankara_accesories" role="tabpanel">
                <div class="row no-gutters g-overflow-x-hidden">
                    <div class="col-lg-7">
                        <div class="row no-gutters">
                            {% for ankara_accesories in ankara_accesories %}
                            <div class="col-md-4">
                                <!-- Article -->
                                <article class="text-center">
                                    <!-- Article Image -->
                                    <img class="w-100" src="{{ ankara_accesories.image.url }}" alt="Image description">
                                    <!-- End Article Image -->

                                    <!-- Article Content -->
                                    <div class="g-brd-around g-theme-brd-gray-light-v1 g-py-20 g-px-10 g-mt-minus-1">
                                        <em
                                            class="d-block text-uppercase font-weight-bold g-color-primary g-font-style-normal g-font-size-11 g-mb-7">Steak</em>
                                        <h4 class="text-uppercase font-weight-bold h6 g-color-black-dark-v1 g-mb-10">
                                            {{ ankara_accesories.short_name }}</h4>
                                        <p class="g-mb-10">{{ankara_accesories.short_description}}</p>
                                        <strong
                                            class="g-color-primary g-font-size-16">${{ankara_accesories.price}}</strong>
                                    </div>
                                    <!-- End Article Content -->
                                </article>
                                <!-- End Article -->
                            </div>
                            {% endfor %}


                        </div>
                    </div>

                    <div class="col-lg-5">
                        <!-- Carousel -->
                        <div class="js-carousel u-carousel-v5 g-overflow-hidden h-100 g-min-height-300 g-mx-minus-2"
                            data-infinite="true"
                            data-arrows-classes="u-arrow-v1 g-pos-abs g-left-75 g-bottom-30 g-width-45 g-height-45 g-color-primary g-bg-white g-opacity-1 g-opacity-0_8--hover g-transition-0_2 g-transition--ease-in"
                            data-arrow-left-classes="fa fa-chevron-left g-ml-minus-45"
                            data-arrow-right-classes="fa fa-chevron-right g-ml-5">

                            <!-- Article -->
                            {% for ankara_accesories in ankara_accesories %}
                            <div class="js-slide">
                                <!-- Article -->
                                <article class="u-bg-overlay g-bg-img-hero h-100 w-100 g-bg-black-opacity-0_3--after"
                                    style="background-image: url({{ ankara_accesories.image.url }});">
                                    <!-- Article Content -->
                                    <div
                                        class="u-bg-overlay__inner g-pos-abs g-left-0 g-bottom-0 g-z-index-1 w-100 g-font-size-16 g-color-white-opacity-0_8 g-px-30 g-pb-100--sm g-pb-70">
                                        <strong
                                            class="d-block g-font-size-20 g-color-primary g-mb-3">${{ankara_accesories.price}}</strong>
                                        <h3
                                            class="text-uppercase g-font-weight-700 g-font-size-26 g-color-white g-mb-10">
                                            {{ ankara_accesories.short_name }}</h3>
                                        <p class="g-font-size-16 g-color-white-opacity-0_8">
                                            {{ankara_accesories.short_description}}</p>
                                    </div>
                                    <!-- End Article Content -->
                                </article>
                                <!-- End Article -->
                            </div>
                            {% endfor %}
                            <!-- End Article -->

                        </div>
                        <!-- End Carousel -->
                    </div>
                </div>
            </div>

            <div class="tab-pane fade" id="ankara_senator_wear" role="tabpanel">
                <div class="row no-gutters g-overflow-x-hidden">
                    <div class="col-lg-7">
                        <div class="row no-gutters">
                            {% for ankara_senator_wear in ankara_senator_wear %}
                            <div class="col-md-4">
                                <!-- Article -->
                                <article class="text-center">
                                    <!-- Article Image -->
                                    <img class="w-100" src="{{ ankara_senator_wear.image.url }}"
                                        alt="Image description">
                                    <!-- End Article Image -->

                                    <!-- Article Content -->
                                    <div class="g-brd-around g-theme-brd-gray-light-v1 g-py-20 g-px-10 g-mt-minus-1">
                                        <em
                                            class="d-block text-uppercase font-weight-bold g-color-primary g-font-style-normal g-font-size-11 g-mb-7">Steak</em>
                                        <h4 class="text-uppercase font-weight-bold h6 g-color-black-dark-v1 g-mb-10">
                                            {{ ankara_senator_wear.short_name }}</h4>
                                        <p class="g-mb-10">{{ankara_senator_wear.short_description}}</p>
                                        <strong
                                            class="g-color-primary g-font-size-16">${{ankara_senator_wear.price}}</strong>
                                    </div>
                                    <!-- End Article Content -->
                                </article>
                                <!-- End Article -->
                            </div>
                            {% endfor %}


                        </div>
                    </div>

                    <div class="col-lg-5">
                        <!-- Carousel -->
                        <div class="js-carousel u-carousel-v5 g-overflow-hidden h-100 g-min-height-300 g-mx-minus-2"
                            data-infinite="true"
                            data-arrows-classes="u-arrow-v1 g-pos-abs g-left-75 g-bottom-30 g-width-45 g-height-45 g-color-primary g-bg-white g-opacity-1 g-opacity-0_8--hover g-transition-0_2 g-transition--ease-in"
                            data-arrow-left-classes="fa fa-chevron-left g-ml-minus-45"
                            data-arrow-right-classes="fa fa-chevron-right g-ml-5">

                            <!-- Article -->
                            {% for ankara_senator_wear in ankara_senator_wear %}
                            <div class="js-slide">
                                <!-- Article -->
                                <article class="u-bg-overlay g-bg-img-hero h-100 w-100 g-bg-black-opacity-0_3--after"
                                    style="background-image: url({{ ankara_senator_wear.image.url }});">
                                    <!-- Article Content -->
                                    <div
                                        class="u-bg-overlay__inner g-pos-abs g-left-0 g-bottom-0 g-z-index-1 w-100 g-font-size-16 g-color-white-opacity-0_8 g-px-30 g-pb-100--sm g-pb-70">
                                        <strong
                                            class="d-block g-font-size-20 g-color-primary g-mb-3">${{ankara_senator_wear.price}}</strong>
                                        <h3
                                            class="text-uppercase g-font-weight-700 g-font-size-26 g-color-white g-mb-10">
                                            {{ ankara_senator_wear.short_name }}</h3>
                                        <p class="g-font-size-16 g-color-white-opacity-0_8">
                                            {{ankara_senator_wear.short_description}}</p>
                                    </div>
                                    <!-- End Article Content -->
                                </article>
                                <!-- End Article -->
                            </div>
                            {% endfor %}
                            <!-- End Article -->

                        </div>
                        <!-- End Carousel -->
                    </div>
                </div>
            </div>

            <div class="tab-pane fade" id="hair_skin_care" role="tabpanel">
                <div class="row no-gutters g-overflow-x-hidden">
                    <div class="col-lg-7">
                        <div class="row no-gutters">
                            {% for hair_skin_care in hair_skin_care %}
                            <div class="col-md-4">
                                <!-- Article -->
                                <article class="text-center">
                                    <!-- Article Image -->
                                    <img class="w-100" src="{{ hair_skin_care.image.url }}" alt="Image description">
                                    <!-- End Article Image -->

                                    <!-- Article Content -->
                                    <div class="g-brd-around g-theme-brd-gray-light-v1 g-py-20 g-px-10 g-mt-minus-1">
                                        <em
                                            class="d-block text-uppercase font-weight-bold g-color-primary g-font-style-normal g-font-size-11 g-mb-7">Steak</em>
                                        <h4 class="text-uppercase font-weight-bold h6 g-color-black-dark-v1 g-mb-10">
                                            {{ hair_skin_care.short_name }}</h4>
                                        <p class="g-mb-10">{{hair_skin_care.short_description}}</p>
                                        <strong
                                            class="g-color-primary g-font-size-16">${{hair_skin_care.price}}</strong>
                                    </div>
                                    <!-- End Article Content -->
                                </article>
                                <!-- End Article -->
                            </div>
                            {% endfor %}


                        </div>
                    </div>

                    <div class="col-lg-5">
                        <!-- Carousel -->
                        <div class="js-carousel u-carousel-v5 g-overflow-hidden h-100 g-min-height-300 g-mx-minus-2"
                            data-infinite="true"
                            data-arrows-classes="u-arrow-v1 g-pos-abs g-left-75 g-bottom-30 g-width-45 g-height-45 g-color-primary g-bg-white g-opacity-1 g-opacity-0_8--hover g-transition-0_2 g-transition--ease-in"
                            data-arrow-left-classes="fa fa-chevron-left g-ml-minus-45"
                            data-arrow-right-classes="fa fa-chevron-right g-ml-5">

                            <!-- Article -->
                            {% for hair_skin_care in hair_skin_care %}
                            <div class="js-slide">
                                <!-- Article -->
                                <article class="u-bg-overlay g-bg-img-hero h-100 w-100 g-bg-black-opacity-0_3--after"
                                    style="background-image: url({{ hair_skin_care.image.url }});">
                                    <!-- Article Content -->
                                    <div
                                        class="u-bg-overlay__inner g-pos-abs g-left-0 g-bottom-0 g-z-index-1 w-100 g-font-size-16 g-color-white-opacity-0_8 g-px-30 g-pb-100--sm g-pb-70">
                                        <strong
                                            class="d-block g-font-size-20 g-color-primary g-mb-3">${{hair_skin_care.price}}</strong>
                                        <h3
                                            class="text-uppercase g-font-weight-700 g-font-size-26 g-color-white g-mb-10">
                                            {{ hair_skin_care.short_name }}</h3>
                                        <p class="g-font-size-16 g-color-white-opacity-0_8">
                                            {{hair_skin_care.short_description}}</p>
                                    </div>
                                    <!-- End Article Content -->
                                </article>
                                <!-- End Article -->
                            </div>
                            {% endfor %}
                            <!-- End Article -->

                        </div>
                        <!-- End Carousel -->
                    </div>
                </div>
            </div>

            <div class="tab-pane fade" id="home_fragrances" role="tabpanel">
                <div class="row no-gutters g-overflow-x-hidden">
                    <div class="col-lg-7">
                        <div class="row no-gutters">
                            {% for home_fragrances in home_fragrances %}
                            <div class="col-md-4">
                                <!-- Article -->
                                <article class="text-center">
                                    <!-- Article Image -->
                                    <img class="w-100" src="{{ home_fragrances.image.url }}" alt="Image description">
                                    <!-- End Article Image -->

                                    <!-- Article Content -->
                                    <div class="g-brd-around g-theme-brd-gray-light-v1 g-py-20 g-px-10 g-mt-minus-1">
                                        <em
                                            class="d-block text-uppercase font-weight-bold g-color-primary g-font-style-normal g-font-size-11 g-mb-7">Steak</em>
                                        <h4 class="text-uppercase font-weight-bold h6 g-color-black-dark-v1 g-mb-10">
                                            {{ home_fragrances.short_name }}</h4>
                                        <p class="g-mb-10">{{home_fragrances.short_description}}</p>
                                        <strong
                                            class="g-color-primary g-font-size-16">${{home_fragrances.price}}</strong>
                                    </div>
                                    <!-- End Article Content -->
                                </article>
                                <!-- End Article -->
                            </div>
                            {% endfor %}


                        </div>
                    </div>

                    <div class="col-lg-5">
                        <!-- Carousel -->
                        <div class="js-carousel u-carousel-v5 g-overflow-hidden h-100 g-min-height-300 g-mx-minus-2"
                            data-infinite="true"
                            data-arrows-classes="u-arrow-v1 g-pos-abs g-left-75 g-bottom-30 g-width-45 g-height-45 g-color-primary g-bg-white g-opacity-1 g-opacity-0_8--hover g-transition-0_2 g-transition--ease-in"
                            data-arrow-left-classes="fa fa-chevron-left g-ml-minus-45"
                            data-arrow-right-classes="fa fa-chevron-right g-ml-5">

                            <!-- Article -->
                            {% for home_fragrances in home_fragrances %}
                            <div class="js-slide">
                                <!-- Article -->
                                <article class="u-bg-overlay g-bg-img-hero h-100 w-100 g-bg-black-opacity-0_3--after"
                                    style="background-image: url({{ home_fragrances.image.url }});">
                                    <!-- Article Content -->
                                    <div
                                        class="u-bg-overlay__inner g-pos-abs g-left-0 g-bottom-0 g-z-index-1 w-100 g-font-size-16 g-color-white-opacity-0_8 g-px-30 g-pb-100--sm g-pb-70">
                                        <strong
                                            class="d-block g-font-size-20 g-color-primary g-mb-3">${{home_fragrances.price}}</strong>
                                        <h3
                                            class="text-uppercase g-font-weight-700 g-font-size-26 g-color-white g-mb-10">
                                            {{ home_fragrances.short_name }}</h3>
                                        <p class="g-font-size-16 g-color-white-opacity-0_8">
                                            {{home_fragrances.short_description}}</p>
                                    </div>
                                    <!-- End Article Content -->
                                </article>
                                <!-- End Article -->
                            </div>
                            {% endfor %}
                            <!-- End Article -->

                        </div>
                        <!-- End Carousel -->
                    </div>
                </div>
            </div>

            <div class="tab-pane fade" id="body_fragrances" role="tabpanel">
                <div class="row no-gutters g-overflow-x-hidden">
                    <div class="col-lg-7">
                        <div class="row no-gutters">
                            {% for body_fragrances in body_fragrances %}
                            <div class="col-md-4">
                                <!-- Article -->
                                <article class="text-center">
                                    <!-- Article Image -->
                                    <img class="w-100" src="{{ body_fragrances.image.url }}" alt="Image description">
                                    <!-- End Article Image -->

                                    <!-- Article Content -->
                                    <div class="g-brd-around g-theme-brd-gray-light-v1 g-py-20 g-px-10 g-mt-minus-1">
                                        <em
                                            class="d-block text-uppercase font-weight-bold g-color-primary g-font-style-normal g-font-size-11 g-mb-7">Steak</em>
                                        <h4 class="text-uppercase font-weight-bold h6 g-color-black-dark-v1 g-mb-10">
                                            {{ body_fragrances.short_name }}</h4>
                                        <p class="g-mb-10">{{body_fragrances.short_description}}</p>
                                        <strong
                                            class="g-color-primary g-font-size-16">${{body_fragrances.price}}</strong>
                                    </div>
                                    <!-- End Article Content -->
                                </article>
                                <!-- End Article -->
                            </div>
                            {% endfor %}


                        </div>
                    </div>

                    <div class="col-lg-5">
                        <!-- Carousel -->
                        <div class="js-carousel u-carousel-v5 g-overflow-hidden h-100 g-min-height-300 g-mx-minus-2"
                            data-infinite="true"
                            data-arrows-classes="u-arrow-v1 g-pos-abs g-left-75 g-bottom-30 g-width-45 g-height-45 g-color-primary g-bg-white g-opacity-1 g-opacity-0_8--hover g-transition-0_2 g-transition--ease-in"
                            data-arrow-left-classes="fa fa-chevron-left g-ml-minus-45"
                            data-arrow-right-classes="fa fa-chevron-right g-ml-5">

                            <!-- Article -->
                            {% for body_fragrances in body_fragrances %}
                            <div class="js-slide">
                                <!-- Article -->
                                <article class="u-bg-overlay g-bg-img-hero h-100 w-100 g-bg-black-opacity-0_3--after"
                                    style="background-image: url({{ body_fragrances.image.url }});">
                                    <!-- Article Content -->
                                    <div
                                        class="u-bg-overlay__inner g-pos-abs g-left-0 g-bottom-0 g-z-index-1 w-100 g-font-size-16 g-color-white-opacity-0_8 g-px-30 g-pb-100--sm g-pb-70">
                                        <strong
                                            class="d-block g-font-size-20 g-color-primary g-mb-3">${{body_fragrances.price}}</strong>
                                        <h3
                                            class="text-uppercase g-font-weight-700 g-font-size-26 g-color-white g-mb-10">
                                            {{ body_fragrances.name }}</h3>
                                        <p class="g-font-size-16 g-color-white-opacity-0_8">
                                            {{body_fragrances.short_description}}</p>
                                    </div>
                                    <!-- End Article Content -->
                                </article>
                                <!-- End Article -->
                            </div>
                            {% endfor %}
                            <!-- End Article -->

                        </div>
                        <!-- End Carousel -->
                    </div>
                </div>
            </div>


        </div>
    </div>
</section>
<!-- End Section Content -->